<div class="contact-wrapper">
    <div class="content-sec">
        <!-- searching for contnt to write in section-a -->
        <!-- Will make a new nav link in nav bar and make a angular form with reactive forms -->
        <div class="sec-b">
            <div class="image-b">
                <img src="../../assets/jj.jpg" alt="">
            </div>

            <div class="text-b">
                <h4>
                    This is sample text for just test
                </h4>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt itaque vero ex. Quos nam quam non omnis perspiciatis voluptates voluptas deserunt sit, praesentium facere voluptate sequi, reprehenderit maiores similique iure!
            </div>
        </div>

        <div class="sec-c">
            <div class="image-c">
                <img src="../../assets/red.jpg" alt="">
            </div>

        </div>

        <div class="sec-d">
            <div class="text-d">
                <h3>
                    This is sample Heading
                </h3>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus libero omnis quod blanditiis mollitia voluptates iste, dolorum cumque aspernatur ab id consequuntur reiciendis illum suscipit eius. Fugit at ex odio.
            </div>

            <div class="image-d">
                <img src="../../assets/cover.jpg" alt="">
            </div>
        </div>

        <div class="sec-e">
            <div class="image-e">
                <img src="../../assets/rose.jpg" alt="">
            </div>
        </div>
    </div>

    <footer>
        <p>
            This page is just to try different layouts for image and text positioning. <br> Used different css elements like shadow and flex to make image positioning.
        </p>
    </footer>
</div>